<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All tools</h1>
      <ul class="list-group mb-3">
        <% @tools.each do |tool| %>
          <li class="list-group-item">
             <table class="table table-bordered">
              <tbody>
                <tr>
                <th scope="row">Tool type</th>
                <td><%= tool.name %></td>
                </tr>
                <tr>
                <th scope="row">Price</th>
                <td><%= tool.price %></td>
                </tr>
                <tr>
                <th scope="row">Post Code</th>
                <td><%= tool.postcode %></td>
                </tr>
                <tr>
                <th scope="row">Description</th>
                <td><%= tool.description %></td>
                </tr>
                <tr>
                <th scope="row">Book</th>
                <!--<td><%= link_to "Book", booking_path, class: 'btn btn-primary' %></td>
                -->
                </tr>
              </tbody>
            </table>
          </li>

        <% end %>
      </ul>
      <%= link_to "Add a new Tool", new_tool_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
