
<div class="container-fluid container py-3 mt-4">
<h2 class="h3">Tools available nearby</h2>
    <div class="row mt-4">
      <% @tools.each do |tool| %>
        <div class="col-md-3">
            <div class="card mb-3" onclick="window.location='tools/<%= tool.id %>'">
                <img src="<%=tool.image_url%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= tool.name %></h5>
                    <p class="card-text">Price: £<%= tool.price %></p>
                    <p class="card-text"><%= tool.description %></p>
                    <h5 class="card-title text-info">
                    <% for i in 1..rand(1...5) do %>
                    &#9733;
                    <% end %>
                    </h5>
                    <p class="card-text"><small class="text-muted">Location: <%= tool.postcode %> (<%=rand(0.5...5).round(2)%> miles from you)</small></p>

                </div>
            </div>
        </div>
      <% end %>
    </div>
</div>
