<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new tool</h1>
      <%= simple_form_for @tool do |f| %>
        <%= f.input :type, collection: Tool::TYPES %>
        <%= f.input :price %>
        <%= f.input :location %>
        <%= f.input :description %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
