  <%= simple_form_for [@tool, @user, @booking] do |f| %>
    <div class="book-form shadow px-4 py-4 border rounded">
    <h2 class="fs-3 fw-3">Book this <%= @tool.name %></h2>
      <p>This tool costs <strong>£<%= @tool.price %> per day</strong></p>
      <div class="small-form-box">
        <div class="booking-input-box my-3 small-form-input">
          <%= f.input :start_date, as: :date, html5: true %>
        </div>
        <div class="booking-input-box my-3 small-form-input">
          <%= f.input :end_date, as: :date, html5: true %>
        </div>
      <div id="submit-btn">
        <%= f.submit "Submit booking", class: "btn btn-primary w-100 mt-2" %>
      </div>
    </div>
  <% end %>
</div>
