<div class="container-md">
  <div class="row my-4 justify-content-center">
    <div class="col col-md-8">
    <div class="booking__confirmation my-3">
      <h1 class="text-center fs-1">Thank you for booking with </h1>
        <div class="logo-on-page">
          <%= show_svg('logo4.svg') %>
        </div>
        <h2 class="text-center mt-3">Your <%= @booking.tool.name%> booking is confirmed.</h2>
      </div>
      <img src="<%=@booking.tool.image_url%>" class="card-img-top confirmation__img my-3" alt="picture of a <%=@booking.tool.name %>">
    </div>
    <div class="col col-md-4 mt-4">
      <h2 class="fs-3">Booking details </h2>
      <ul class="list-group my-3">
        <li class="list-group-item"> <%= @booking.tool.name%> booked for <%= length = ((@booking.end_date - @booking.start_date).to_i + 1) %> days </li>
        <li class="list-group-item"> Your booking start date: <%=@booking.start_date.strftime("%d/%m/%y") %> </li>
        <li class="list-group-item"> Your booking end date: <%=@booking.end_date.strftime("%d/%m/%y") %> </li>
        <li class="list-group-item"> Total price: £<%=(@booking.tool.price * length) %> </li>
        <li class="list-group-item"> You can pick up your tool on <%=@booking.end_date.strftime("%d/%m/%y") %> at <%=@booking.tool.address %> </li>
      </ul>
        <div class="bg-white mt-4">
          <h2 class="fs-4">Add your review</h2>
            <p><strong>Did you love it? Did you hate it? Leave a review!</strong></p>
          <%= simple_form_for [@booking, @review] do |f| %>
            <%= f.input :comment, label: "Your comment", placeholder: "Add your review here..." %>
            <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "star-rating" } } %>
            <%= f.submit class:"btn btn-primary mt-3" %>
          <% end %>
        </div>
    </div>

    </div>
  </div>
  <div class="row my-4 justify-content-center">
    <div class="col col-md-8 d-flex">
      <%= link_to "Borrow another tool", tools_path, class: "btn btn-primary mt-3 cta" %>
      <%= link_to "View all your bookings", bookings_path, class: "btn btn-primary mt-3" %>

    </div>
  </div>

</div>
