<div class="container-md">
  <div class="row my-4 justify-content-center">
    <div class="col col-md-8">
      <h1>Thank you for booking with </h1>
      <div class="logo-on-page">
      <%= show_svg('logo4.svg') %>
      </div>
      <br>
      <h2>Your booking for <%= @booking.tool.name%> is confirmed.</h2>
      <br>
      <p><img src="<%=@booking.tool.image_url%>" class="card-img-top photo-on-page" alt="picture of a <%=@booking.tool.name %>"></p>
    </div>
    <div class="col col-md-4">
      <h2> Booking details </h2>
      <p> You can view your booking details below. </p>
      <ul>
      <li> <%= @booking.tool.name%> booked for <%= %> days </li>
      <li> Total price: £ <%= %> </li>

      </ul>
    </div>
  </div>
  <div class="row my-4 justify-content-center">
    <div class="col col-md-8 d-flex">
      <%= link_to "Borrow another tool", tools_path, class: "btn btn-primary mt-3 cta" %>
      <%# link_to "View your bookings", bookings_path, class: "btn btn-primary mt-3" %>

    </div>
  </div>

</div>
